* {
  text-align: center;
  margin: 0 auto;
  font-family: "Lobster", cursive;
}

#divcentral1 {
  display: none;
  position: relative;
}

#divcentral2 {
  display: none;
}

#divcentral3 {
  display: none;
}

#timerrow {
  position: absolute;
  bottom: 0px;
  right: 2%;
}

.tc {
  width: 20px;
  text-align: left;
  margin-left: 0;
}

.allmaindiv {
  background-image: linear-gradient(white, rgb(0, 124, 128));
  margin-top: 70px;
  margin-bottom: 50px;
  min-height: 400px;
  border-left-style: solid;
  border-right-style: solid;
  border-width: 2px;
  border-image: linear-gradient(to top, rgb(14, 13, 13), rgba(8, 8, 8, 0)) 1 1%;
  border-bottom: solid 2px rgb(14, 13, 13);
}

#row1 {
  padding-top: 30px;
  margin-bottom: 30px;
}

.q {
  color: rgba(70, 70, 70, 0.884);
  width: 85%;
  padding: 15px;
  margin: 10px;
  border-radius: 7px;
}

.q:hover {
  background: rgb(15, 111, 126);
  color: azure;
}

.next {
  width: 30%;
  height: 50px;
  margin-left: 35%;
  font-size: 25px;
}

.start {
  min-width: 30%;
  height: 150%;
  margin-left: 35%;
  font-size: 25px;
  margin-top: 50px;
}

#row2 {
  padding-bottom: 20px;
}

#rwt {
  width: 85%;
  font-size: 500%;
  margin-bottom: 40px;
}

#question {
  margin-bottom: 20px;
}

#winrow,
#looserow,
#timeoutrow {
  margin: 0 auto;
  padding: 0;
}

#divcentral3 #winrow {
  margin-top: 50px;
}

#questionimg {
  width: 100%;
  border-radius: 4%;
  border: solid 2px rgb(22, 22, 22);
  height: 100%;
}

#colanswers {
  margin-top: 20px;
}

#row1 {
  padding-top: 40px;
}

#colrigth {
  padding: 0;
  margin: 0;
}
